
/*Hidding the image if it go outside the Slider Container*/
#SliderHome{
overflow: hidden;

}

/*This is going to have the img and we add 500% of wight to be able
to storage our img and because of the hidden on #SliderHome we are able to only show 
the first img and the relative will allow us to move between each image*/
#SliderHome figure{
position: relative;
width: 500%;
margin: 0;
left:0;
/*how long is going to last the slide show before start over and over*/
animation: 12s SliderHome infinite;
}


#SliderHome figure img{
/*leaving image side by side*/
float: left;
/*taking 20% of the 500% for each image it mean the will cover 100% of the 
#SliderHome container*/
width: 20%;
/*height of our image*/
max-height: 500px;

}

/*time that going to take each image before moving to the left the % of each each image*/
@keyframes SliderHome{

0% {
    /*how much is the image going to be move to the left*/
    left: 0;
}
/*20% of the time declare on #SliderHome figure animation that its going to take before
move to the left. the 20% of 12s and same fot each value*/
20% {
    /*how much is the image going to be move to the left*/
    left: 0;
}
/*25% of the time declare on #SliderHome figure animation that its going to take before
move to the left. the 25% of 12s and same fot each value*/
25% {
    /*how much is the image going to be move to the left*/
    left: -100%;
}
/*45% of the time declare on #SliderHome figure animation that its going to take before
move to the left. the 45% of 12s and same fot each value*/
45% {
/*how much is the image going to be move to the left*/
    left: -100%;
}
/*50% of the time declare on #SliderHome figure animation that its going to take before
move to the left. the 50% of 12s and same fot each value*/
50%{
    /*how much is the image going to be move to the left*/
    left: -200%;

}
/*70% of the time declare on #SliderHome figure animation that its going to take before
move to the left. the 70% of 12s and same fot each value*/
70%{
/*how much is the image going to be move to the left*/
    left: -200%;

}
/*75% of the time declare on #SliderHome figure animation that its going to take before
move to the left. the 75% of 12s and same fot each value*/
75%{
/*how much is the image going to be move to the left*/
    left: -300%;
}
/*95% of the time declare on #SliderHome figure animation that its going to take before
move to the left. the 95% of 12s and same fot each value*/
95%{
/*how much is the image going to be move to the left*/
    left: -300%;
}
/*100% of the time declare on #SliderHome figure animation that its going to take before
move to the left. the 100% of 12s and same fot each value*/
100%{
/*how much is the image going to be move to the left*/
    left: -400%;
}

}


}
.letters, .text{
    flex: 1 1 45%; 
    
}
video {
    max-width: 80%;
    display: block;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

}
#about {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    
    
    }

.text{
margin:10px;



}

h2 {margin-top:5%;
    margin-left:75px;
    margin-right:25px;


}
p {margin-top:5%;
    margin-left:75px;
    margin-right:25px;
    text-align: left;
    font-size: 1.5em;
    font-family: Fredericka the Great;
    text-shadow: 1px 1px 2px #291548;}

