/*css for H3 that its contain in about  */
#about h3{
  /*type of font and size of the font that adapt to the container, and make the font thicker*/
  font-family: Fredericka the Great;
  font-size: 2.0em;
  font-weight: bold;
  /*small shadow to the font, color of the font, and it is center of the container, and also have a shadow */
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  color: #c7a6cd;
  text-align: center;
  text-shadow: 1px 1px 2px #291548;
  

}

.myContainer{
  display: flex; /* making my container a flex container */
  flex-direction: row; /*aling it horizontaly in a row*/
  flex-wrap: wrap; /*in case the items doent fit it move it to the next line*/
  flex: 1 1 200px;/*how the flex item will grow and shrink depending on the other items and the initial size 200px*/
  /*size of the font, type of font and small shadows on the font*/
  font-size: 1.5em;
  font-family: Fredericka the Great;
  text-shadow: 1px 1px 2px #291548;
}
.imageH{
  display: flex;/* making my container a flex container */
  justify-content: center; /*center the text*/
  align-items: center;/*center the flex items*/
  width: 100%; /*wight of the container*/
  height: 38vh; /*height of the container*/
  overflow: hidden;/*if the content in the contaner its bigger it will hide the part 
  that go out the container*/
  
}

/*Creating a flex container, were the container in it will have an equal space in middle, and flex items will be center, it will 
adapt the items in the container depending on the size of the screen*/
.AboutUs {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  flex-wrap: wrap; 
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  
  
}

/* Adjust both containers side to side,by setting the size depending on the AboutUs container and how small or big they will be
depending on the screen size */
.imageH, .infoCompany {
  flex: 1 1 48%; 
  

}

.infoCompany{

  /*borders will be thicker with a color white*/
  border: 2px solid #d3d3d3; 
  /*giving a shadow to the container top to the left and bottom to the right*/
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), 
              -5px -5px 10px rgba(255, 255, 255, 0.5);
  /*round borders of the container*/
  border-radius: 10px;
  /*add space in all four sides*/
  padding: 15px;
  /*add space margin to the right*/
  margin-right: 15px;
}

.myContainer .AboutUs img{
  /*size of the img in the container taking 100% of the flex container */
      max-width: 100%;
      max-height: 100%;
      display: block; 
  /*keep the aspect ratio of the img while in get big or smal*/
      object-fit: contain; 
  /*round border a 25%*/
      border-radius: 25%;
      

}

.AboutUs img {
  /*time that the efect will last and how the transition will be */
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  
}

.myContainer .AboutUs img:hover {
    /*make bigger the div when mouse go on it*/
  transform: scale(1.05); 
    /*make 20% transparent*/
  opacity: 0.8;
}

.AboutUs .infoCompany:hover {
      /*make bigger the div when mouse go on it*/
  transform: scale(1.05);
    /*give a small shadow*/
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}


